* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #f4fbff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.content {
  flex: 1;
}
