@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sen:wght@400..800&display=swap");
@import "tailwindcss";

* {
  font-family: "Sen", sans-serif;
}
